
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-general" style="padding: 40px 0; width: 100%; background-image: url(/Assets/User/image/background_general.jpg);">
    <img src="~/Assets/User/image/lich.png" alt="image" style="border-radius: 20px" />
</div>

